# Data Exploration and Cleanup Process

In [1]:
import pandas as pd

#### Compiling Chicago Cubs and Arizona Diamondbacks Attendance Records from 2015 - 2019.

In [2]:
# Load Attendance and Game Data
cubs_2015_2019 = "Resources/2015_2019CubsAttendanceBreakdown.csv"
dbacks_2015_2019 = "Resources/2015_2019DBacksAttendanceBreakdown.csv"

# Read Attendance and Game Data
cubs_2015_2019_df = pd.read_csv(cubs_2015_2019)
dbacks_2015_2019_df = pd.read_csv(dbacks_2015_2019)

In [3]:
cubs_2015_2019_df.head()

,Gm#,Date,Season,Tm,Unnamed: 4,Opp,W/L,R,RA,W-L,Rank,GB,Time,D/N,Attendance
0,1,Sunday Apr 5,2015,CHC,NaN,STL,L,0,3,0-1,5,1,3:04,N,35055.0
1,2,Wednesday Apr 8,2015,CHC,NaN,STL,W,2,0,1-Jan,2,1,2:23,D,26814.0
2,3,Friday Apr 10,2015,CHC,@,COL,L,1,5,2-Jan,2,2.5,3:01,D,49303.0
3,4,Saturday Apr 11,2015,CHC,@,COL,W,9,5,2-Feb,2,1.5,3:19,N,43812.0
4,5,Sunday Apr 12,2015,CHC,@,COL,W,6,5,2-Mar,2,0.5,3:05,D,41363.0

In [4]:
dbacks_2015_2019_df.head()

,Gm#,Date,Season,Tm,Unnamed: 4,Opp,W/L,R,RA,W-L,Rank,GB,Time,D/N,Attendance
0,1.0,Monday Apr 6,2015.0,ARI,NaN,SFG,L,4.0,5.0,0-1,4.0,1,3:18,N,49043.0
1,2.0,Tuesday Apr 7,2015.0,ARI,NaN,SFG,W,7.0,6.0,1-Jan,2.0,1,3:10,N,22626.0
2,3.0,Wednesday Apr 8,2015.0,ARI,NaN,SFG,L,2.0,5.0,2-Jan,4.0,2,3:08,N,21642.0
3,4.0,Friday Apr 10,2015.0,ARI,NaN,LAD,W-wo,4.0,3.0,2-Feb,3.0,2,3:01,N,27404.0
4,5.0,Saturday Apr 11,2015.0,ARI,NaN,LAD,W,6.0,0.0,2-Mar,2.0,1,2:36,N,37636.0