# Data Exploration and Cleanup Process

In [3]:
import pandas as pd
from config import open_key
import numpy as np
import requests
import time
from scipy.stats import linregress
from matplotlib import pyplot as plt
import json

#### Compiling Chicago Cubs Attendance Data from 2015 - 2019.

In [5]:
# Load Attendance and Game Data
cubs_2015_2019 = "Resources/2015_2019CubsAttendanceBreakdownX.xls"

# Read Attendance and Game Data
cubs_df = pd.read_excel(cubs_2015_2019)

In [7]:
cubs_df.head()

,Gm#,Day,Month,Date,Season,Tm,Opp,Wins / Loss,Wins,Loses,Win %,Dayay / Nightight Game,Attendance,Time Code
0,1,Sunday,April,4-5-2015,2015,CHC,STL,L,0,1,0.000000,Night,35055,42099.770833
1,2,Wednesday,April,4-8-2015,2015,CHC,STL,W,1,1,0.500000,Day,26814,42102.562500
2,6,Monday,April,4-13-2015,2015,CHC,CIN,W,4,2,0.666667,Night,26390,42107.770833
3,7,Tuesday,April,4-14-2015,2015,CHC,CIN,L,4,3,0.571429,Night,27525,42108.770833
4,8,Wednesday,April,4-15-2015,2015,CHC,CIN,W,5,3,0.625000,Night,29205,42109.770833

In [9]:
cubs_time = cubs_df["Time Code"].tolist()

In [ ]:
# Request Weather Info
url = "http://api.openweathermap.org/data/2.5/weather?q="

# Create Lists to Store Data
temp = []
hum = []
cloud = []
wind = []

for time in cubs_time
    print(f"Processing Time Code" {time})
    
    response = request.get(url)